@font-face {
  font-family: 'Open-sans';
  src: url('./static/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open-sans', monospace !important;
}

html,
body { overflow-x: hidden; }
